@{
    ViewData["Title"] = "Contact";
}

<section class="contact-section fade-in delay-1">
    <h1>@ViewData["Title"]</h1>
    <p>If you'd like to get in touch, feel free to reach out through any of the platforms below:</p>

    <div class="contact-list">
        <div class="contact-item">
            <img src="https://img.icons8.com/ios-filled/30/ffffff/gmail.png" alt="Gmail icon" />
            <a href="https://ivanngin0612@gmail.com">ivanngin0612@gmail.com</a>
        </div>

        <div class="contact-item">
            <img src="https://img.icons8.com/ios-filled/30/ffffff/linkedin.png" alt="LinkedIn icon" />
            <a href="https:/www.linkedin.com/in/ivan-ng-17415a257" target="_blank">linkedin.com/in/ivan-ng-17415a257</a>
        </div>

        <div class="contact-item">
            <img src="https://img.icons8.com/ios-filled/30/ffffff/phone.png" alt="Phone icon" />
            <span>+65 8381 6963</span>
        </div>
    </div>
</section>
